In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline


y2015 = pd.read_csv("E:/python3/data/2015.csv")
y2016 = pd.read_csv("E:/python3/data/2016.csv")
y2017 = pd.read_csv("E:/python3/data/2017.csv")
y2018 = pd.read_csv("E:/python3/data/2018.csv")
y2019 = pd.read_csv("E:/python3/data/2019.csv")
y2020 = pd.read_csv("E:/python3/data/2020.csv")
y2021 = pd.read_csv("E:/python3/data/2021.csv")

In [9]:
y2015.head() #제거할 columns 확인

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [10]:
y2016.head() #제거할 columns 확인

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [12]:
new_y2015 = y2015.drop(['Region','Happiness Rank','Standard Error','Dystopia Residual'], axis=1)
new_y2016 = y2016.drop(['Region','Happiness Rank','Lower Confidence Interval',
                        'Upper Confidence Interval','Dystopia Residual'], axis=1)
# 필요없는 columns 제거

In [13]:
new_y2015.head() #확인작업

,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [14]:
new_y2016.head() #확인작업

,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [17]:
new_y2015.columns = ['Country name','Ladder score','Logged GDP per capita','Social support',
                     'Healthy life expectancy', 'Freedom to make life choices','Perceptions of corruption', 'Generosity']
new_y2016.columns = ['Country name','Ladder score','Logged GDP per capita','Social support',
                     'Healthy life expectancy', 'Freedom to make life choices','Perceptions of corruption', 'Generosity']
#columns 통일

In [18]:
new_y2015.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [20]:
new_y2016.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [22]:
y15_16 = new_y2015.merge(new_y2016, on = ['Country name'], how = 'outer')
# 같은 columns로 합해서 x, y 로 나눔

In [24]:
y15_16.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,Ladder score_y,Logged GDP per capita_y,Social support_y,Healthy life expectancy_y,Freedom to make life choices_y,Perceptions of corruption_y,Generosity_y
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834

In [26]:
y15_16["count_score"] = 2
y15_16["count_gdp"] = 2
y15_16["count_support"] = 2
y15_16["count_life"] = 2
y15_16["count_freedom"] = 2
y15_16["count_generosity"] = 2
y15_16["count_curruption"] = 2

# 평균값을 구하기 위한 함수에 사용 될 숫자

In [27]:
y15_16.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,Ladder score_y,Logged GDP per capita_y,...,Freedom to make life choices_y,Perceptions of corruption_y,Generosity_y,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,7.509,1.52733,...,0.58557,0.41203,0.28083,2,2,2,2,2,2,2
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,7.501,1.42666,...,0.56624,0.14975,0.47678,2,2,2,2,2,2,2
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,7.526,1.44178,...,0.57941,0.44453,0.36171,2,2,2,2,2,2,2
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,7.498,1.57744,...,0.59609,0.35776,0.37895,2,2,2,2,2,2,2
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,7.404,1.44015,...,0.57370,0.31329,0.44834,2,2,2,2,2,2,2

In [28]:
def sum_data(data):
    
    data[["count_score",'count_gdp',"count_support","count_life","count_freedom","count_generosity",
          "count_curruption"]] = data[["count_score",'count_gdp',"count_support","count_life","count_freedom",
          "count_generosity","count_curruption"]].fillna(2)
    
    # 처음엔 2로 다 넣어 줬지만 다음 함수 사용을 위해 결측값을 2로 넣는 작업
    
    
    
    for i in data.index: # 함수에 들어온 데이터프레임의 인덱스 만큼 반복
     
        if data.isnull()['Ladder score_x'][i] and not(data.isnull()['Ladder score_y'][i]):
            data['Ladder score_x'][i] = data['Ladder score_y'][i]
            # 처음 데이터 프레임에 없는 나라의 데이터가 들어있을 경우
            # nan 값에 Ladder score_y 데이터를 Ladder score_x 로 값을 옮겨오는 작업
            # 평균을 구하지않고 대입만 했기 때문에 카운트 증가 x
        elif not(data.isnull()['Ladder score_x'][i]) and not(data.isnull()['Ladder score_y'][i]):
            data['Ladder score_x'][i] = (data['Ladder score_y'][i]+data['Ladder score_x'][i]*((data['count_score'][i])-1))/data['count_score'][i]
            data['count_score'][i]+=1
            # 둘다 값이 들어 있을 경우 합하여 나누는 작업
            # 몇개의 데이터의 평균값이 Ladder score_x에 들어있을 수 있기 때문에
            # (카운트-1)로 곱하고 Ladder score_y와 합한후 다시 카운트로 나누는 작업
            # 이하 반복
            
        if data.isnull()['Logged GDP per capita_x'][i] and not(data.isnull()['Logged GDP per capita_y'][i]):
            data['Logged GDP per capita_x'][i] = data['Logged GDP per capita_y'][i]
        elif not(data.isnull()['Logged GDP per capita_x'][i]) and not(data.isnull()['Logged GDP per capita_y'][i]):
            data['Logged GDP per capita_x'][i] = (data['Logged GDP per capita_y'][i]+data['Logged GDP per capita_x'][i]*((data['count_gdp'][i])-1))/data['count_gdp'][i]
            data['count_gdp'][i]+=1

        if data.isnull()['Social support_x'][i] and not(data.isnull()['Social support_y'][i]):
            data['Social support_x'][i] = data['Social support_y'][i]
        elif not(data.isnull()['Social support_x'][i]) and not(data.isnull()['Social support_y'][i]):
            data['Social support_x'][i] = (data['Social support_y'][i]+data['Social support_x'][i]*((data['count_support'][i])-1))/data['count_support'][i]
            data['count_support'][i]+=1
        
        if data.isnull()['Healthy life expectancy_x'][i] and not(data.isnull()['Healthy life expectancy_y'][i]):
            data['Healthy life expectancy_x'][i] = data['Healthy life expectancy_y'][i]
        elif not(data.isnull()['Healthy life expectancy_x'][i]) and not(data.isnull()['Healthy life expectancy_y'][i]):
            data['Healthy life expectancy_x'][i] = (data['Healthy life expectancy_y'][i]+data['Healthy life expectancy_x'][i]*((data['count_life'][i])-1))/data['count_life'][i]
            data['count_life'][i]+=1
            
        if data.isnull()['Freedom to make life choices_x'][i] and not(data.isnull()['Freedom to make life choices_y'][i]):
            data['Freedom to make life choices_x'][i] = data['Freedom to make life choices_y'][i]
        elif not(data.isnull()['Freedom to make life choices_x'][i]) and not(data.isnull()['Freedom to make life choices_y'][i]):
            data['Freedom to make life choices_x'][i] = (data['Freedom to make life choices_y'][i]+data['Freedom to make life choices_x'][i]*((data['count_freedom'][i])-1))/data['count_freedom'][i]
            data['count_freedom'][i]+=1

        if data.isnull()['Generosity_x'][i] and not(data.isnull()['Generosity_y'][i]):
            data['Generosity_x'][i] = data['Generosity_y'][i]
        elif not(data.isnull()['Generosity_x'][i]) and not(data.isnull()['Generosity_y'][i]):
            data['Generosity_x'][i] = (data['Generosity_y'][i]+data['Generosity_x'][i]*((data['count_generosity'][i])-1))/data['count_generosity'][i]
            data['count_generosity'][i] +=1
            
        if data.isnull()['Perceptions of corruption_x'][i] and not(data.isnull()['Perceptions of corruption_y'][i]):
            data['Perceptions of corruption_x'][i] = data['Perceptions of corruption_y'][i]
        elif not(data.isnull()['Perceptions of corruption_x'][i]) and not(data.isnull()['Perceptions of corruption_y'][i]):
            data['Perceptions of corruption_x'][i] = (data['Perceptions of corruption_y'][i]+data['Perceptions of corruption_x'][i]*((data['count_curruption'][i])-1))/data['count_curruption'][i]
            data['count_curruption'][i] +=1
            
    data.drop(['Ladder score_y','Logged GDP per capita_y','Social support_y','Healthy life expectancy_y','Freedom to make life choices_y','Generosity_y','Perceptions of corruption_y'], axis=1, inplace = True)
    # 쓸모없어진 데이터 제거

    return data

In [29]:
y15_16fix = sum_data(y15_16)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
y15_16fix.info() # 결측값 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 163
Data columns (total 15 columns):
Country name                      164 non-null object
Ladder score_x                    164 non-null float64
Logged GDP per capita_x           164 non-null float64
Social support_x                  164 non-null float64
Healthy life expectancy_x         164 non-null float64
Freedom to make life choices_x    164 non-null float64
Perceptions of corruption_x       164 non-null float64
Generosity_x                      164 non-null float64
count_score                       164 non-null int64
count_gdp                         164 non-null int64
count_support                     164 non-null int64
count_life                        164 non-null int64
count_freedom                     164 non-null int64
count_generosity                  164 non-null int64
count_curruption                  164 non-null int64
dtypes: float64(7), int64(7), object(1)
memory usage: 25.5+ KB

In [31]:
y15_16fix.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.5480,1.46192,1.247375,0.902230,0.625570,0.415905,0.288805,3,3,3,3,3,3,3
1,Iceland,7.5310,1.36449,1.292745,0.907585,0.597505,0.145600,0.456540,3,3,3,3,3,3,3
2,Denmark,7.5265,1.38363,1.262160,0.834840,0.614395,0.464050,0.351550,3,3,3,3,3,3,3
3,Norway,7.5100,1.51822,1.228925,0.840500,0.632910,0.361395,0.362970,3,3,3,3,3,3,3
4,Canada,7.4155,1.38322,1.209355,0.866615,0.603335,0.321430,0.453225,3,3,3,3,3,3,3

In [44]:
y15_16fix.columns = ['Country name', 'Ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices',
                    'Perceptions of corruption','Generosity', "count_score","count_gdp","count_support",
                   "count_life","count_freedom","count_generosity","count_curruption"]
# 다른 데이터와 결합하기 위한 재정렬

# 이하 반복

In [45]:
y15_16fix.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.5480,1.46192,1.247375,0.902230,0.625570,0.415905,0.288805,3,3,3,3,3,3,3
1,Iceland,7.5310,1.36449,1.292745,0.907585,0.597505,0.145600,0.456540,3,3,3,3,3,3,3
2,Denmark,7.5265,1.38363,1.262160,0.834840,0.614395,0.464050,0.351550,3,3,3,3,3,3,3
3,Norway,7.5100,1.51822,1.228925,0.840500,0.632910,0.361395,0.362970,3,3,3,3,3,3,3
4,Canada,7.4155,1.38322,1.209355,0.866615,0.603335,0.321430,0.453225,3,3,3,3,3,3,3

In [36]:
y2017.head() #

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [40]:
new_y2017 = y2017.drop(['Happiness.Rank','Whisker.high',
                        'Whisker.low','Dystopia.Residual'], axis=1)

In [41]:
new_y2017.head()

,Country,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [42]:
new_y2017.columns = ['Country name','Ladder score','Logged GDP per capita','Social support',
                     'Healthy life expectancy', 'Freedom to make life choices', 'Generosity','Perceptions of corruption']

In [43]:
new_y2017.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [46]:
y15_16_17 = y15_16fix.merge(new_y2017, on = ['Country name'], how = 'outer')

In [47]:
y15_16_17.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,count_score,count_gdp,...,count_freedom,count_generosity,count_curruption,Ladder score_y,Logged GDP per capita_y,Social support_y,Healthy life expectancy_y,Freedom to make life choices_y,Generosity_y,Perceptions of corruption_y
0,Switzerland,7.5480,1.46192,1.247375,0.902230,0.625570,0.415905,0.288805,3.0,3.0,...,3.0,3.0,3.0,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
1,Iceland,7.5310,1.36449,1.292745,0.907585,0.597505,0.145600,0.456540,3.0,3.0,...,3.0,3.0,3.0,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
2,Denmark,7.5265,1.38363,1.262160,0.834840,0.614395,0.464050,0.351550,3.0,3.0,...,3.0,3.0,3.0,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
3,Norway,7.5100,1.51822,1.228925,0.840500,0.632910,0.361395,0.362970,3.0,3.0,...,3.0,3.0,3.0,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
4,Canada,7.4155,1.38322,1.209355,0.866615,0.603335,0.321430,0.453225,3.0,3.0,...,3.0,3.0,3.0,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372

In [48]:
y15_16_17fix = sum_data(y15_16_17)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
y15_16_17fix.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.530000,1.496273,1.337221,0.887530,0.623737,0.399606,0.289386,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,Iceland,7.522000,1.403204,1.398688,0.882907,0.607391,0.148242,0.462873,4.0,4.0,4.0,4.0,4.0,4.0,4.0
2,Denmark,7.525000,1.416548,1.358481,0.820749,0.618266,0.442957,0.352793,4.0,4.0,4.0,4.0,4.0,4.0,4.0
3,Norway,7.519000,1.550968,1.330458,0.825889,0.633748,0.346251,0.362651,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,Canada,7.382333,1.415215,1.300020,0.855929,0.605924,0.310077,0.447330,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [50]:
y15_16_17fix.columns = ['Country name', 'Ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices',
                    'Perceptions of corruption','Generosity', "count_score","count_gdp","count_support",
                   "count_life","count_freedom","count_generosity","count_curruption"]

In [51]:
y15_16_17fix.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.530000,1.496273,1.337221,0.887530,0.623737,0.399606,0.289386,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,Iceland,7.522000,1.403204,1.398688,0.882907,0.607391,0.148242,0.462873,4.0,4.0,4.0,4.0,4.0,4.0,4.0
2,Denmark,7.525000,1.416548,1.358481,0.820749,0.618266,0.442957,0.352793,4.0,4.0,4.0,4.0,4.0,4.0,4.0
3,Norway,7.519000,1.550968,1.330458,0.825889,0.633748,0.346251,0.362651,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,Canada,7.382333,1.415215,1.300020,0.855929,0.605924,0.310077,0.447330,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [52]:
y2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [53]:
new_y2018 = y2018.drop('Overall rank', axis=1)

In [54]:
new_y2018.columns = ['Country name','Ladder score','Logged GDP per capita','Social support',
                     'Healthy life expectancy', 'Freedom to make life choices', 'Generosity','Perceptions of corruption']

In [55]:
y15_16_17_18 = y15_16_17fix.merge(new_y2018, on = ['Country name'], how = 'outer')

In [56]:
y15_16_17_18fix = sum_data(y15_16_17_18)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [59]:
y15_16_17_18fix.columns = ['Country name', 'Ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices',
                    'Perceptions of corruption','Generosity', "count_score","count_gdp","count_support",
                   "count_life","count_freedom","count_generosity","count_curruption"]

In [60]:
y15_16_17_18fix.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.51925,1.477205,1.390165,0.897398,0.632803,0.388954,0.281040,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,Iceland,7.51525,1.388153,1.460016,0.890681,0.624793,0.145682,0.435405,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Denmark,7.53250,1.400161,1.416360,0.832561,0.634449,0.434218,0.335595,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,Norway,7.53775,1.527226,1.393343,0.834667,0.646811,0.344688,0.343488,5.0,5.0,5.0,5.0,5.0,5.0,5.0
4,Canada,7.36875,1.393911,1.358015,0.865947,0.617693,0.305308,0.415747,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [61]:
y2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [63]:
new_y2019 = y2019.drop('Overall rank', axis=1)

In [64]:
new_y2019.columns = ['Country name','Ladder score','Logged GDP per capita','Social support',
                     'Healthy life expectancy', 'Freedom to make life choices', 'Generosity','Perceptions of corruption']

In [65]:
y15_16_17_18_19 = y15_16_17_18fix.merge(new_y2019, on = ['Country name'], how = 'outer')

In [66]:
y15_16_17_18_19.head()

,Country name,Ladder score_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Perceptions of corruption_x,Generosity_x,count_score,count_gdp,...,count_freedom,count_generosity,count_curruption,Ladder score_y,Logged GDP per capita_y,Social support_y,Healthy life expectancy_y,Freedom to make life choices_y,Generosity_y,Perceptions of corruption_y
0,Switzerland,7.51925,1.477205,1.390165,0.897398,0.632803,0.388954,0.281040,5.0,5.0,...,5.0,5.0,5.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343
1,Iceland,7.51525,1.388153,1.460016,0.890681,0.624793,0.145682,0.435405,5.0,5.0,...,5.0,5.0,5.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118
2,Denmark,7.53250,1.400161,1.416360,0.832561,0.634449,0.434218,0.335595,5.0,5.0,...,5.0,5.0,5.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.53775,1.527226,1.393343,0.834667,0.646811,0.344688,0.343488,5.0,5.0,...,5.0,5.0,5.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Canada,7.36875,1.393911,1.358015,0.865947,0.617693,0.305308,0.415747,5.0,5.0,...,5.0,5.0,5.0,7.278,1.365,1.505,1.039,0.584,0.285,0.308

In [67]:
y15_16_17_18_19fix = sum_data(y15_16_17_18_19)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
y15_16_17_18_19fix.columns = ['Country name', 'Ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices',
                    'Perceptions of corruption','Generosity', "count_score","count_gdp","count_support",
                   "count_life","count_freedom","count_generosity","count_curruption"]

In [69]:
y15_16_17_18_19fix.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,count_score,count_gdp,count_support,count_life,count_freedom,count_generosity,count_curruption
0,Switzerland,7.5114,1.472164,1.417332,0.928318,0.620642,0.379763,0.277432,6.0,6.0,6.0,6.0,6.0,6.0,6.0
1,Iceland,7.5110,1.386523,1.492813,0.917744,0.618035,0.140145,0.419124,6.0,6.0,6.0,6.0,6.0,6.0,6.0
2,Denmark,7.5460,1.396729,1.447688,0.865249,0.625959,0.429374,0.318876,6.0,6.0,6.0,6.0,6.0,6.0,6.0
3,Norway,7.5410,1.519381,1.431075,0.873333,0.638049,0.343951,0.328990,6.0,6.0,6.0,6.0,6.0,6.0,6.0
4,Canada,7.3506,1.388129,1.387412,0.900558,0.610954,0.305846,0.389598,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [70]:
y15_16_17_18_19fix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 0 to 169
Data columns (total 15 columns):
Country name                    170 non-null object
Ladder score                    170 non-null float64
Logged GDP per capita           170 non-null float64
Social support                  170 non-null float64
Healthy life expectancy         170 non-null float64
Freedom to make life choices    170 non-null float64
Perceptions of corruption       170 non-null float64
Generosity                      170 non-null float64
count_score                     170 non-null float64
count_gdp                       170 non-null float64
count_support                   170 non-null float64
count_life                      170 non-null float64
count_freedom                   170 non-null float64
count_generosity                170 non-null float64
count_curruption                170 non-null float64
dtypes: float64(14), object(1)
memory usage: 26.2+ KB